#header {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

/* navigation */

nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .menu {
  opacity: 0;
  visibility: hidden;

  top: -20rem;

  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav .menu ul li {
  text-align: center;
}

nav .menu ul li a {
  position: relative;

  transition: color 0.2s;
}

nav .menu ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav .menu ul li a::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  background-color: var(--base-color);

  transition: width 0.2s;
}

nav .menu ul li a:hover::after,
nav .menu ul li a.active::after {
  width: 100%;
}

/* open menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;

  cursor: pointer;
}

nav .icon-close {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  right: 1.5rem;
  top: -1.5rem;

  transition: 0.2s;
}

nav.show .icon-close {
  opacity: 1;
  visibility: visible;
  top: 1.5rem;
}

/* logomarca */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

main {
  margin-top: var(--header-height);
}

/* section home */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: "";
  background-color: var(--base-color-second);
  position: absolute;

  width: 100%;
  height: 100%;

  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin: auto 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/* swiper configs */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/* footer */

footer {
  background-color: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .brand .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  display: inline-block;
  transition: 0.3s;
}

footer .social a:hover {
  transform: translateY(-5px);
}

footer .social i {
  color: var(--text-color-light);
}

/* button back to top */

.back-to-top {
  background-color: var(--base-color);
  color: var(--text-color-light);
  font-size: 1.5rem;
  line-height: 0;
  padding: 0.5rem;

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  clip-path: circle();

  visibility: hidden;
  opacity: 0;
  transition: 0.3s;

  transform: translate(100%);
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translate(0%);
}

/* responsive */

/* max é menor que < */
/* min é menor que > */

/* 768px até 991px */
@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --title-font-size: 1.75rem; /* 28px */
    --subtitle-font-size: 1rem;
  }

  #home .image {
    margin: 0 auto;
  }

  #about .image {
    margin: 0 auto;
  }

  #services header {
    text-align: center;
  }

  #services .cards {
    grid-auto-flow: column;
  }

  #testimonials header {
    text-align: center;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .social {
    grid-auto-flow: column;
    width: fit-content;
  }
}

/* 992px até 1190px */
@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    --title-font-size: 2rem; /* 32px */
    --subtitle-font-size: 1.125rem; /* 18px */
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  #home .image {
    margin: 0 auto;
  }

  #about .image {
    margin: 0 auto;
  }

  #services header {
    text-align: center;
  }

  #services .cards {
    /* grid-template-columns: repeat(3, 1fr); */
    grid-auto-flow: column;
  }

  #testimonials header {
    margin: 0 auto;
    text-align: center;
  }

  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* 1200px pra cima */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials .container header {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }
  .button {
    height: 3.125rem;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;

    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* section home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;

    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    max-width: 22.5rem;
    margin-left: 0;
    text-align: left;
    order: 0;
  }

  /* section about */
  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  /* section services */
  #services .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  #services .cards .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* section testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* section contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }
  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 1.9rem;
  }

  footer i {
    font-size: 1.3rem;
  }
}
