#testimonials {
  background-color: white;
}

#testimonials .container {
  margin: auto 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5em;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

#testimonials blockquote > p {
  position: relative;
  text-indent: 1.875rem;

  margin-bottom: 1.5rem;
  font: 400 1rem var(--body-font);
  color: var(--title-color);
  line-height: 1.625rem;
}

#testimonials blockquote p span {
  color: var(--base-color);

  font: 700 2.5rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
}

#testimonials .testimonial cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials .testimonial cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}
